.N1{
  background-color: gainsboro;
}
.N2{
  background-color: lightpink;
}
.N3{
  background-color: #FEFFC6;
}
.N4{
  background-color: #DAFFC6;
}
.N5{
  background-color: #C6EBFF;
}

.S0{
  background-color: rgba(190, 184, 235, 1);
}

.S1{
  background-color: rgba(190, 184, 235, 1);
}
